<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding.mrpImplementation.entities.Material">
    <resultMap type='Material' id='MaterialResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='name' column='name'/>
        <result property='initialInventoryOnHand' column='initialInventoryOnHand'/>
        <result property='orderingCost' column='orderingCost'/>
        <result property='maintainCost' column='maintainCost'/>
        <result property='securityStock' column='securityStock'/>
        <result property='sizeOfLot' column='sizeOfLot'/>
        <result property="period" column="period"/>
    </resultMap>

    <select parameterType="map" id="getMaterials" resultMap="com.coding.mrpImplementation.dao.mybatis.mappers.MaterialMapper.MaterialResult">
        select *
        from Material
    </select>

    <select parameterType="map" id="getActivitiesOfMaterial" resultMap="com.coding.mrpImplementation.dao.mybatis.mappers.MaterialMapper.MaterialResult">
        select *
        from Material
    </select>

    <insert parameterType="map" id="com.coding.mrpImplementation.dao.mybatis.mappers.SupplierMapper.SupplierResult">
        insert into Supplier (id,businessName,country,address,deliveryTime,phone) values(#{idSupplier},#{businessName},#{country},#{address},#{deliveryTime},#{phone});
    </insert>

</mapper>
