<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.coding.mrpImplementation.entities.Activity" alias="Activity"/>
        <typeAlias type="com.coding.mrpImplementation.entities.Material" alias="Material"/>
        <typeAlias type="com.coding.mrpImplementation.entities.Supplier" alias="Supplier"/>
        <typeAlias type="com.coding.mrpImplementation.entities.Machine" alias="Machine  "/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306"/>
                <property name="username" value="admin"/>
                <property name="password" value="0AugQGWOfiSj"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/ActivityMapper.xml"></mapper>
        <mapper resource="mappers/MachineMapper.xml"></mapper>
        <mapper resource="mappers/MaterialMapper.xml"></mapper>
        <mapper resource="mappers/SupplierMapper.xml"></mapper>
    </mappers>
</configuration>